.prestamos-container {
  padding: 20px;
  text-align: center;
}

.tabla-prestamos {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  overflow-x: auto; /* Habilitar scroll horizontal */
}

.tabla-prestamos table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px; /* Ancho mínimo para activar scroll */
}

.tabla-prestamos th {
  background-color: #4caf50; /* Verde */
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

.tabla-prestamos td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.green-header {
  background-color: #4caf50; /* Verde */
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Responsivo */
@media (max-width: 768px) {
  .tabla-prestamos {
    margin: 10px;
  }

  .tabla-prestamos th,
  .tabla-prestamos td {
    padding: 8px;
  }
}

.row-liquidado {
  background-color: rgba(255, 0, 0, 0.2) !important; /* Rojo claro */
}

